* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #c1c1c1;
  margin: 50px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #004d00;
}

.container {
  background-color: #e9ffea;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
}
.cabecalho,
.rodape {
  width: 100%;
  display: flex;
  align-items: center;
}
.cabecalho {
  order: 1;
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
}
.cabecalho img {
  width: 300px;
  margin-right: 10px;
}
.cabecalho h1 {
  font-size: 180%;
  text-transform: uppercase;
  color: #006a03;
}

.cabecalho h2 {
  font-size: 160%;
  color: #008903;
}
.menu {
  width: 25%;
  order: 3;
  padding: 5px;
  font-size: 110%;
}
.menu h3 {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.menu h3::before {
  content: url("imagens/menu.png");
  margin-right: 5px;
}

.menu li {
  border-bottom: 1px solid #4ea947;
}

.menu li:first-of-type {
  border-top: 1px solid #4ea947;
}
.menu li a {
  padding: 20px;
  display: block;
  padding-left: 40px;
  background: url("imagens/seta.png") no-repeat 20px center;
}

.menu li a:hover {
  background-color: #02d700;
}
.corpo {
  width: 75%;
  order: 2;
  border-right: 1px dashed #000000;
  padding: 10px;
  flex-direction: column;
}
.corpo p {
  text-align: justify;
  line-height: 150%;
  text-indent: 3em;
}
.corpo h3 {
  text-transform: uppercase;
  font-size: 110%;
  font-weight: bold;
  border-bottom: 1px dotted #000000;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 50%;
  background: url("imagens/seta.png") no-repeat 0 center;
}
.corpo img {
  float: left;
  margin: 10px;
  width: 230px;
}

.corpo img.secundaria {
  float: right;
  width: 180px;
}
.rodape {
  order: 4;
  border-top: 1px solid #000000;
  padding: 30px;
  margin-top: 20px;
}
.rodape img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.rodape .autor {
  font-weight: bold;
  color: #7e0000;
}
#corpo-curso h4 {
  color: #504e4e;
  font-weight: bold;
  text-indent: 2em;
  line-height: 150%;
  font-size: 110%;
  text-align: justify;
}
#corpo-curso ul {
  width: 75%;
  text-align: justify;
  line-height: 150%;
  padding: 10px;
  flex-direction: column;
}
#corpo-estrutura h4 {
  line-height: 100%;
  font-weight: bold;
  text-indent: 2em;
}

#corpo-estrutura ul {
  line-height: 180%;
  padding: 8px;
}
#fot1-loc {
  float: right;
  height: 180px;
}
#fot2-loc {
  width: 670px;
}
/* #foto3-loc{
  display: flex; flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
} */
#fot3-loc img {
  margin-right: 20px;
  width: 510px;
}
.negrito {
  font-weight: bold;
  text-align: justify;
  line-height: 150%;
}
